<%= render 'shared/navbar' %>
<%= render "shared/banner"%>
<%= render "shared/index-toggle"%>

<h1> Create a new booking!! </h1>
<br>
<h2><%= @product.name %></h2>
<%= simple_form_for [@product, @booking] do |f| %>
  <%= f.input :date %>
  <%= f.button :submit, "Book Skill", class: "btn btn-dark" %>
<% end %>
