
<div class="bookings-index-container">
  <div class="personal-info-container">
    <div class="bookings-booked-top">
      <h1> My booked services/ owner</h1>
    </div>
        <% @bookings.each do |b| %>
         <div class="bookings-booked-bottom">
         <img src="https://source.unsplash.com/random/?<%= b.product.name %>" />
            <h2> <strong></strong> <%= b.product.name %></h2><br>
            <h3><%= b.user.first_name%></h3><br>
            <h3>Date:<%= b.date%></h3><br>
              <%= simple_form_for [current_user, b] do |f| %>
              <%= f.input :status, label: 'Status:', collection:['pending','confirmed', 'cancelled'] %>
              <%= f.button :submit, "Submit", class: "btn btn-dark"%>
              </div>
              <% end %>

            <% end %>
      </div>
    </div>
  <div class="my-gear-container">
    <div class= "bookings-customer-top">
      <h1> My bookings !! (customer) </h1>
    </div>
      <div class="bookings-customer-container">
        <% @customer_booking.each do |b| %>
        <img src="https://source.unsplash.com/random/?<%= b.product.name %>" />
          <h2> <strong>Gear:</strong> <%= b.product.name %></h2><br>
          <h3>Status:</strong> <%= b.status %></h3><br>
          <h3>Date:<%= b.date%></h3><br>
          <h3>User ID:<%= b.user.first_name%></h3><br>
          <h3>Product owner:<%= b.product.user.first_name%></h3><br>
          <% end %>
      </div>
  </div>
</div>
