 <h1> Welcome to bookings/index page</h1>

 <h1> My booked services/ owner</h1>
   <% @bookings.each do |b| %>
        <li> <strong>Gear:</strong> <%= b.product.name %></li><br>
        <li>customer name:<%= b.user.first_name%></li><br>
        <li>Date:<%= b.date%></li><br>
        <li>Status:<%= b.status%></li><br>
        <%= simple_form_for [current_user, b] do |f| %>
          <%= f.input :status, label: 'Status:', collection:['pending','confirmed', 'cancelled'] %>
            <%= f.button :submit, "Submit", class: "btn btn-dark"%>
            <% end %>
        <% end %>


 <h1> My bookings !! (customer) </h1>

    <% @customer_booking.each do |b| %>
        <li> <strong>Gear:</strong> <%= b.product.name %></li><br>
        <li>Status:</strong> <%= b.status %></li><br>
        <li>Date:<%= b.date%></li><br>
        <li>User ID:<%= b.user.first_name%></li><br>
        <li>Product owner:<%= b.product.user.first_name%></li><br>

    <% end %>
