<div class= "booking-index-card-top">
  <h2> My booked services/ owner </h2>
</div>
<div class="bookings-index-container">
  <% @bookings.each do |b| %>
  <div class="booking-index-card-bottom">
    <img src="https://source.unsplash.com/random/?<%= b.product.name %>" />
    <h3><%= b.product.name  %></h3>
    <h3>Bookings date:<%= b.date%></h3><br>
    <%= simple_form_for [current_user, b] do |f| %>
      <%= f.input :status, label: 'Status:', collection:['pending','confirmed', 'cancelled'] %>
      <%= f.button :submit, "Submit", class: 'btn-orange' %>
    <% end %>
  </div>
  <% end %>
</div>

<div class= "booking-index-card-top">
  <h2> My bookings !! (customer) </h2>
</div>
<div class="bookings-index-container">
  <% @customer_booking.each do |b| %>
  <div class="booking-index-card-bottom">
    <img src="https://source.unsplash.com/random/?<%= b.product.name %>" />
    <p>Booked for: <%= b.date%></p><br>
    <p>Status: <%= b.status %></p>
    <h1> <%= b.product.name %></h1>
    <p><%= b.product.description%></p>
    <p>Owner: <%= b.product.user.first_name%>
  </div>
  <% end %>
</div>
