<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <ul class="navbar-logo">
      <li><a href="/products"><%= image_tag "ShareGearLogo.png" %></a></li>
    </ul>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <div class="navbar-text">
            <li class="nav-item active">
              <%= link_to "Home", products_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Location", "#", class: "nav-link" %>
            </li>
          </div>
          <li class="nav-item dropdown">
            <%= image_tag "https://www.shareicon.net/data/512x512/2015/12/25/692753_vertical_512x512.png", class: "dots-dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%# <%= link_to "My account", user_dashboard_path, class: "dropdown-item" %>
              <%= link_to "My bookings", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
