<div class="form-margins">
<h2> New Gear </h2>
  <%= simple_form_for [ @product ] do |f| %>
    <div class="product-description-container">
      <%= f.input :name %>
      <%= f.input :category, collection: ["camp & hike", "watersports", "cycling", "climbing", "snow"] %>
      <%= f.input :price %>
      <%= f.input :address %>
      <%= f.input :description %>
    </div>
    <%= f.submit "Submit your gear", class: "btn-orange" %>
  <% end %>
<div>
