
  <div class="card-productshow">
    <div class="card-productshow-left">
      <img src="https://source.unsplash.com/random/?<%= @product.name %>" />
        <div class="card-productshow-left-bottom">
          <h2><%= @product.name %></h2>
            <div class="productshow-info">
              <p>$<%= @product.price %> per day </p>
              <div class="productshow-buttons"style="float:right;">
                <%= link_to "Book Now", new_product_booking_path(@product.id), class:'btn-orange' %>
                <%= link_to "All products", products_path, class: 'btn-orange' %>
              </div>
            </div>
        </div>
    </div>
    <div class="card-productshow-right">
      <p>Description</p>
      <br>
      <p><%= @product.description %></p>
    </div>
  </div>






<%# <p><%= cl_image_path @product.photo.key %>
