<div class="card-product-container">
  <div class="card-product">
    <img src="../images/banner.jpg" alt="Product Image">
      <div class="card-product-footer">
        <div>
          <h2>Kayak</h2>
          <p>Only $30 a day!</p>
      </div>
      <h2>$30</h2>
  </div>
</div>
<%#
<%= link_to product_path(product) do %>
  <%# <img src="https://source.unsplash.com/random/?<%= offer.topic %>" /> %>
<%# <% end %> %>
<%# <div class="card-product-infos"> %>
  <%# <%= link_to product_path(product) do %> %>
    <%# <div> %>
      <%# <h2 class="card-product-main-info"><%= product.topic %></h2> %>
      <%# TODO: Add user avatar %>
      <%# <h3><%= product.user.name %> (<%= product.user.location %>)</h3> %>
      <%# <p><%= product.description %></p> %>
    <%# </div> %>
  <%# <% end %> %>
    <%# <%= yield %> %>
<%# </div> %> %>
