<%= render 'shared/navbar' %>
<%= render "shared/banner"%>
<%= render "shared/index-toggle"%>

<div class="dashboard-container">
  <div class="personal-info-container">
    <div class= "personal-info-top">
      <h2> My personal information </h2>
      <%= link_to "Edit", "", class: "btn-secondary"  %>
    </div>
    <div class= "personal-info-bottom">
      <h4> <strong>Name: </strong><%=@user.first_name%></h4>
      <h4> <strong>Last Name: </strong><%=@user.last_name%></h4>
      <h4> <strong>Address: </strong><%=@user.address%></h4>
      <h4> <strong>Date of birth: </strong><%=@user.dob%></h4>
      <h4> <strong>Email: </strong><%=@user.email%></h4>
    </div>
  </div>


  <div class="my-gear-container">
    <div class= "gear-card-top">
      <h2> My gear </h2>
      <%= link_to "Add Gear", new_product_path, class: "btn-secondary"  %>
    </div>
    <% @products.each do |product| %>
    <div class="gear-card-bottom">
      <img src="https://source.unsplash.com/random/?<%= product.name %>" />
        <h3><%= product.name %></h3>
          <%= link_to "Edit", edit_product_path(product.id),     class:"btn-orange" %>
          <%= link_to "Delete", product_path(product.id), method: :delete,data:   {   confirm: "Are you sure" }, class: "btn-orange" %>
        </div>
    <% end %>
    </div>
  </div>
</div>
