<%= render 'shared/navbar' %>
<%= render "shared/banner"%>
<%= render "shared/index-toggle"%>
<h1> THIS IS DASHBOARD INDEX </h1>
<% @products.each do |product| %>
  <ul>
    <li><%= product.name %></li>
    <li><%= product.description %></li>
    <li><%= product.price %></li>
  </ul>
<% end %>
